<div class="verification-form d-flex justify-content-between mb-3 bg-white py-3 border-bottom">
  <div>
    <label class="font-weight-bolder">Danh mục: </label>
    <nz-select ngModel="lucy" class="mx-2" nzShowSearch style="width: 120px">
      <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  </div>
  <div>
    <label class="font-weight-bolder">Bộ sưu tập: </label>
    <nz-select ngModel="lucy" class="mx-2" nzShowSearch style="width: 120px">
      <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  </div>
  <div>
    <label class="font-weight-bolder">Tìm kiếm: </label>
    <input type="text" nz-input class="d-inline mx-2" style="width: 300px;"
           placeholder="Tìm kiếm tên, danh mục, bộ sưu tập..." [(ngModel)]="valSearch" autocomplete="true">
  </div>
  <div>
    <label class="font-weight-bolder">Ngày tạo: </label>
    <nz-range-picker class="mx-2"
                     nzMode="date"
                     [nzFormat]="'yyyy/MM/dd'"
                     [nzPlaceHolder]="plaDateRange"
                     nzShowToday="true"
    ></nz-range-picker>
  </div>
  <button class="ant-btn mx-1" nz-button type="submit" nzType="primary" nzShape="round" (click)="toCreatePage($event)">
    <i nz-icon nzType="plus-circle" nzTheme="outline" class="d-inline-flex"></i> Thêm mới
  </button>
</div>

<nz-table #productTable
          nzShowPagination="false"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
          [nzLoading]="loading"
          nzSize="small"
          nzTitle="Danh sách sản phẩm"
          [nzData]="products"
          class="table-scroll"
          [nzNoResult]="empty">
  <thead>
  <tr>
    <th
      [(nzChecked)]="checked"
      (nzCheckedChange)="onAllChecked($event)" nzWidth="30px"></th>
    <th nzColumnKey="sku" nzWidth="70px" nzCustomFilter>SKU</th>
    <th nzColumnKey="name" nzWidth="200px" [nzSortFn]="sortFnName" nzCustomFilter>Name</th>
    <th nzColumnKey="quantity" nzWidth="50px" nzCustomFilter>Số lượng</th>
    <th nzColumnKey="createdAt" nzWidth="150px" nzCustomFilter>Ngày tạo</th>
    <th nzWidth="300px">Hình ảnh</th>
    <th nzWidth="70px">Thao tác</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of productTable.data | filter:valSearch; index as i">
    <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
    <td>{{data.sku}}</td>
    <td>{{data.name}}</td>
    <td>{{data.quantity || 0 | currency: '&nbsp;' : true : '0.0-2' | lowercase}}</td>
    <td>{{data.createdAt.seconds | dateTime}}</td>
    <td>
      <ng-container *ngIf="data.images">
        <ng-container *ngFor="let img of data.images; let i = index">
          <img
            nz-image
            [nzSrc]="img.url"
            [lazyLoad]="img.url"
            [alt]="data.name"
            class="img-thumbnail m-1 img-product"
            [width]="getSize(data.images)">
          <ng-container *ngIf="(i + 1) % 4 === 0"><br></ng-container>
        </ng-container>
      </ng-container>
    </td>
    <td>
      <button nz-button nzType="link" [nzSize]="size" (click)="toDetail($event, data.id)" nzShape="circle"
              class="vertical-align-unset lh-50">
        <i nz-icon nzType="eye" nzTheme="outline"></i>
      </button>
      <nz-divider nzType="vertical" style="height: 24px;"></nz-divider>
      <button nz-button
              nzType="link" [nzSize]="size"
              nzDanger nzShape="circle"
              class="vertical-align-unset lh-50"
              nz-popconfirm
              nzPopconfirmTitle="Bạn có chắc muốn xóa?"
              nzPopconfirmPlacement="left"
              nzOkText="Đồng ý"
              nzCancelText="Hủy"
              (nzOnConfirm)="deleteProduct(data.id, data.name)">
        <i nz-icon nzType="delete"></i>
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>

<ng-template #empty>
  <nz-empty></nz-empty>
</ng-template>
