.vertical-align-unset {
  vertical-align: unset;
}

.lh-50 {
  line-height: 50%;
}

.verification-form {
  button {
    margin-right: 2px;
    background: #97be0d;
    color: #fff;
    border: none;

    &:last-child {
      margin: 0;
    }
  }
}

.img-product {
  object-fit: cover;
}
